body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.center{
	display: flex;
	justify-content: center;
}

#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pomodoro{
	flex-flow: row;
}

#clock{
	padding: .6em;
	margin: 0;
	font-size: 3.5em;
	flex-flow: column;
}

#clock > p {
	margin: 0;
}

#time{
	display: flex;
	justify-content: center;
}

#timer{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#down{
	transform: rotate(180deg);
}

#left{
	width: 20px;
	transform: rotate(270deg);
}

#right{
	width: 20px;
	transform: rotate(90deg);
}

.clickable{
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.finePrint{
	font-size: .5em;
}

.timerDisp{
	font-size: 2.8em;
}

.icon{
	width: 45px;
	cursor: pointer;
}

.selected{
	color: white;
	background: black;
	padding: .3em;
	border-radius: 1em;
}

.row{
	display: flex;
	flex-flow: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	min-width: 21em;
}

.tight{
	height: 1.4em;
}


.clockLabels{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.clockLabel{
	font-size: .1em;
}

